path.data: {{ ls_path_data }}
path.logs: {{ ls_path_logs }}

http.host: "{{ host }}"
http.port: "{{ ls_http_port }}"

log.level: {{ log_level }}

xpack.security.transport.ssl.enabled: {{ transport_ssl_enabled }}
xpack.security.http.ssl.enabled: {{ http_ssl_enabled }}